<p><%= content.comment %></p>
<h4><%= content.user.try(:username) %></h4>
<% if logged_in? %>
	<% if @topic.user.try(:id) == current_user.id %>
		<%= link_to "Edit", edit_content_path %>
		<%= link_to "Delete", content_path, method: :delete, data: {confirm: "Are you sure?"} %>
	<% end %>
<% end %>				