// Place all the styles related to the Microposts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.microposts {
	li {
		list-style-type:none;
		padding:1rem;
	}
}

.post {
	display:block;
}

.micropost {
	list-style-type:none;
	margin-top:1rem;
	.user {
		font-weight:700;
		font-size:1.5rem;
		a {
			text-decoration:none;
			color:darkgrey;
		}
	}
}

.timestamp {
	.time {
		color:darkgrey;
	}
}

.comment_ammount {
	color:darkgrey;
}

/*.iframe_container {
	position:relative;
	height:0;
	overflow:hidden;
	iframe {
		z-index:1;
		position:absolute;
		top:0;
		left:0;
		border:none;
		margin:0 auto;
		width:75%;
		height:75%;
		overflow:scrollbars-none;
	}
}*/

.micropost_form {
	margin-bottom:3rem;
}
